.main-body {
    max-height: 400px;
    width: 300px;
    background: rgb(94,176,253);
    background: linear-gradient(180deg, rgb(50, 156, 255) 0%, rgba(255,123,168,1) 100%);
    display: flex;
    justify-content: center;
    overflow: hidden;
    font-family: 'Sora', sans-serif;
    position: relative;
}

.main-title {
    position: absolute;
    margin-top: 18px;
    margin-bottom: 0px;
    margin-left: 12px;
    font-weight: 800;
    font-size: 18px;
    color: white;
}

.main-container {
    position: relative;
    height: 350px;
    width: 285px;
    border-radius: 20px;
    background-color: white;
    padding-bottom: 10px;
    margin-top: 40px;
    margin-bottom: 15px;
    overflow: hidden;
    display: flex;
}

/* index.html Notes Display */
#note-area {
    flex-grow: 1;
    overflow-y: auto;
    padding: 15px;
}

#note-area::-webkit-scrollbar {
    display: none;
}

/* Top fade effect */
.main-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 15px; 
    background: linear-gradient(180deg, rgba(255,255,255,1) 65%, rgba(0,0,0,0) 100%);
    pointer-events: none; /* Allow clicks through the gradient */
}

/* Bottom fade effect */
.main-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    background: linear-gradient(0deg, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 65%, rgba(0,0,0,0) 100%);    pointer-events: none; /* Allow clicks through the gradient */
}

/* Note colors */
.note-color-0 {
    background-color: #5eb0fd;
}

.note-color-1 {
    background-color: #af96d3;
}

.note-color-2 {
    background-color: #ff7ba8;
}

/* Individual note divs */
.note-div {
    width: 255px;
    height: 60px;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.note-title {
    font-weight: 800;
    font-size: 12px;
    color: white;
    margin: 0;
}

.note-content {
    font-weight: 400;
    font-size: 8px;
    color: white;
    margin: 0;
}